.section__cours {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    top: 5rem;
}

.categorie__cours {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    top: 5rem;
}

.carte {
    border: 1px solid black;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 25%;
    background-color: hsl(237.89deg 100% 11.18%);
    border: 10px double white;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.carte:hover {
    background-color: hsl(214, 77%, 24%);
    transform: scale(1.05);

}

.carte * {
    text-align: center;

}

.post-categories {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.carte p {
    text-align: center;
    flex-wrap: wrap;
}

.carte h3 {
    text-align: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
}