.recherche{
    display: flex;
    border : 1px solid #aaa;
    justify-content: center;
}

.recherche__input{
    display: block;
    color: red;
    background-color: beige;
}


.recherche__button{
    background-color: red;
}